{% extends 'order/base.html'%}
{% block content %}


<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="base" id="origin" autocomplete="off"> 原味
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="base" id="marble" autocomplete="off"> 大理石
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="base" id="chocolate" autocomplete="off"> 巧克力
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="base" id="milktea" autocomplete="off"> 奶茶
  </label>
</div>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="base" id="vanilla" autocomplete="off"> 香草
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="base" id="chocolate" autocomplete="off"> 巧克力
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="base" id="tea" autocomplete="off"> 抹茶
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="base" id="milk" autocomplete="off"> 煉乳
  </label>
</div>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="dressing" id="sugarpowder" autocomplete="off"> 糖粉
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="dressing" id="chocolatepowder" autocomplete="off"> 巧克力粉
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="dressing" id="chocolatesyrup" autocomplete="off"> 巧克力醬
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="dressing" id="banana" autocomplete="off"> 烤香蕉
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="dressing" id="caramel" autocomplete="off"> 焦糖
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="dressing" id="pearl" autocomplete="off"> 珍珠
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="dressing" id="tea " autocomplete="off"> 抹茶
  </label>
</div>
